@import "reset.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(100%, 400px);
    height: 100vh;
    margin-inline: auto;
}

h2 {
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 10px;
}

input {
    height: 50px;
}

textarea {
    height: 200px;
}

input[type="button"] {
    width: 200px;
    border: none;
    background-color: #168eff;
    color: #fff;
    text-align: center;
    transition: background-color 0.2s;
}

input[type="button"]:hover {
    background-color: #005eb6;
}